
<html >
	<head>
		
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-aria.min.js"></script>

		<script src="lib/angular/angular-animate.min.js"></script>
		<script src="lib/angular/angular-material.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/angular/modulo.js"></script>

		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">	
		<link rel="stylesheet" href="lib/angular/angular-material.css">	

		
		
		<title>Hello World</title>


	</head>

	<body ng-app="sampleApp" layout="column">			
			
			

		<md-toolbar layout-padding>
			<div class="md-toolbar-tools">
				<h2>Bem Vindo ao Angular Material</h2>
			</div>
		</md-toolbar>	

		<md-toolbar class="md-warn">
         <div class="md-toolbar-tools">
            <h2 class="md-flex">HTML 5</h2>
         </div>
      </md-toolbar>
		 <md-content flex layout-padding>
         <p>HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide Web.</p>
         <p>HTML5 is a cooperation between the World Wide Web Consortium (W3C) and the Web Hypertext Application Technology Working Group (WHATWG).</p>
         <p>The new standard incorporates features like video playback and drag-and-drop that have been previously dependent on third-party browser plug-ins such as Adobe Flash, Microsoft Silverlight, and Google Gears.</p>
      </md-content>

		<div>
 			<span ng-init="aModelObject='Valor Inicial'"></span>
			<input type="text" ng-model="aModelObject">
			<div>
			<strong>{{aModelObject}}</strong>
			<div ng-controller="firstController">
				<h2>{{title}}</h2>
				<select name="dpCities" ng-model="sampleApp" 
				ng-options="city for city in cities"></select>

			</div>
			<div ng-controller="secondController">
				<h2>{{title}}</h2>
				<select name="dpCities" ng-model="sampleApp" 
				ng-options="city for city in cities"></select>

			</div>


			</div>		

		</div>
	
	</body>
</html>
